.show-mobile {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}
.show-desktop {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
.rectangle {
  margin-left: 15px;
  @media (min-width: 1920px) {
    margin-left: 20px;
  }
}
