- var Advantage = [,{alt:'review',img:'./assets/images/review.svg',name:'Реальные отзывы клиентов',description:'Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.'}]
section.advantage.container 
  img(src="./assets/images/rectangle.svg").rectangle
  h1.advantage__title Почему Дымоход.ру?
  p.advantage__description В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
  ul.advantage__list
    .adventage__item
      img(src='./assets/images/guarantee.svg' alt='guarantee').advantage__item-img
      h2.advantage__item-title Большой гарантийный срок
      p.advantage__item-description Крепёж, стыковка элементов – <span>10 лет</span><br/> Сквозная коррозия труб – <span>5 лет</span><br/> Гидроизоляция – <span>3 года</span>
    .adventage__item
      img(src='./assets/images/architect.svg' alt='architect').advantage__item-img
      h2.advantage__item-title Помощь в покупке агрегата
      p.advantage__item-description (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
    .adventage__item--last
      img(src='./assets/images/review.svg' alt='review').advantage__item-img
      h2.advantage__item-title Реальные отзывы клиентов
      p.advantage__item-description Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе