- var Process = ['Рассчёт предварительной заявки','Замер объекта нашим инженером','Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы ','Изготовление Дымохода, покраска (если требуется)','Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация','Гарантийное обслуживание по соответствующем сроку']
section.process.container
  img(src="./assets/images/rectangle.svg").rectangle
  h1.process__title Процесс выполнения монтажа
  ul.process__list
    for i in Process 
      li.process__item=i