.header {
  display: flex;
  align-items: center;
  margin-top: 15px;
  @media (max-width: 1919px) {
    padding-bottom: 20px;
    border-bottom: 1px solid $gray;
  }
  @media (min-width: $lg) {
    margin: 8px;
    justify-content: space-evenly;
  }

  @media (min-width: $md) {
    margin-top: 25px;
  }

  // .header__logo
  &__logo {
    order: 0;
    padding-left: 15px;
    img {
      width: 48px;
      height: 47px;
      @media (min-width: $md) and (max-width: 1919px) {
        margin-left: 15px;
        width: 64px;
        height: 62px;
      }
      @media (min-width: $lg) {
        margin-left: 0;
        width: 100px;
        height: 97px;
      }
    }
  }
  // .header__burger-menu

  &__burger-menu {
    order: 2;

    img {
      width: 44px;
      height: 44px;
      @media (min-width: $md) {
        width: 56px;
        height: 56px;
      }
    }
    @media (min-width: $lg) {
      margin-left: -5px;
      cursor: pointer;
      order: 0;
      padding-top: 0px;
    }

    @media (max-width: 1919px) {
      margin-right: 5px;
    }
  }
  &__nav {
    margin-left: -20px;
  }

  // .header__tel

  &__tel {
    display: none;
    @media (min-width: $lg) {
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.08em;
      span {
        font-weight: 400;
        color: $blue;
      }
    }
  }

  // .header__call-me

  &__call-me {
    display: none;
    @media (min-width: $lg) {
      cursor: pointer;
      margin-left: 30px;
      display: flex;
      font-size: 14px;
      line-height: 17.07px;
      text-align: center;
      color: #ae2236;
      padding: 5px 0;
      border-bottom: 1px dashed #ae2236;
    }
  }

  // .header__contact

  &__contact {
    display: none;
    @media (min-width: $lg) {
      display: flex;
      gap: 15px;
    }
  }

  //.header__actions
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    @media (max-width: 1919px) {
      margin-right: 20px;
      gap: 24px;
      margin-left: auto;
    }
  }
  // .header__search-icon

  &__search-icon {
    display: none;
    @media (min-width: $md) {
      display: flex;
      cursor: pointer;
      border: 1px solid $gray;
      border-radius: 50%;
      padding: 17px;
    }
  }

  // .header__favorites-icon

  &__favorites-icon {
    display: none;
    @media (min-width: $md) {
      display: flex;
      cursor: pointer;
      border: 1px solid $gray;
      border-radius: 50%;
      padding: 17px;
    }
  }

  // .header__shopping-cart

  &__shopping-cart {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
.nav {
  display: none;
  @media (min-width: $lg) {
    display: flex;
    padding-left: 0px;
    gap: 40px;
    width: 665px;
  }
  // .nav__item
  &__item {
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 700;
    line-height: 23px;
    font-size: 16px;
    text-align: left;
  }

  // .nav__link

  &__link {
    text-decoration: none;
    color: $blue;
  }
}
.contact__icon {
  fill: $blue;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.shopping-cart {
  // .shopping-cart__icon
  &__icon {
    display: flex;
    border: 1px solid $gray;
    border-radius: 50%;
    padding: 13px;
    img {
      width: 18px;
      height: 15px;
    }
    @media (min-width: $md) {
      padding: 17px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  // .shopping-cart__count

  &__count {
    background-color: #e33e54;
    border-radius: 50%;
    padding: 4px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    color: white;
    margin-left: -20px;
    margin-top: -30px;
  }
}
