.title {
  font-size: 60px;
  /* line-height: 73px; */
  font-family: Montserrat;
  /* font-weight: 700; */
  margin-left: 12px;
  padding-top: 10px;
}
.breadcrumbs {
  display: flex;
  justify-content: center;
  // .breadcrumbs_link

  &_link {
  }

  // .breadcrumbs__item

  &__item {
  }
}
