section.container
  h1.title Монтаж  дымоходов
  ul.breadcrumbs
    li.breadcrumbs__item 
      a.breadcrumbs_link(href="#") Главная
    li.breadcrumbs__item 
      a.breadcrumbs_link(href="#") Каталог
    li.breadcrumbs__item 
      a.breadcrumbs_link(href="#") Камины