- Benefits = ['Доступные цены','Собственное производсвто  Дымоходов','Выполнение необходимых работ, связанных с установкой камина, печи, котла','Гарантия (от трёх до десяти лет)','Работаем чисто, аккуратно, убираем за собой, не сквернословим','Только русские квалифицированные специалисты','Устанавливаем любые дымоходы всех производителей']
section.container.benefits 
  p.description В <span>Дымоход.ру </span>вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
  section.benefits__content
    .benefits__content-block
      h1.benefits__title Lorem ipsum dolor sit amet 
      h1.benefits__subtitle Lorem ipsum
      ul.benefits__list
        for i in Benefits
          li.benefits__item=i
    .benefits__img
      img.benefits__img-blob(src="../assets/images/blob1.svg", alt="blob")
      img.benefits__img-flue(src="../assets/images/flue.svg", alt="flue")
      